.maindiv {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 35px;
    align-items: center;
}

.calculator {
    width: 300px;
    background-color: black;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    color: white;


}

#display {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.btn {
    width: 70px;
    background-color: white;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    border: 0;
    margin-bottom: 10px;
}